/* ABOUT */
  .about{
  padding:100px 0;
  }
  
  .container{
  width:90%;
  margin:auto;
  display:flex;
  gap:50px;
  align-items:center;
  }
  
  .about-img img{
  width:100%;
  border-radius:20px;
  }
  
  /* FEATURES */
  .features{
  padding:100px 0;
  text-align:center;
  }
  
  .feature-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
  margin-top:40px;
  }
  
  .card{
  padding:40px;
  background:white;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
  transition:0.3s;
  }
  
  .card:hover{
  transform:translateY(-10px);
  }
  
 
  .products{
  padding:100px 0;
  text-align:center;
  background-color:rgba(26, 74, 26, 0.9);
  }
  
  .product-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
  margin-top:40px;
  }
  
  .product-card{
  background:rgba(26, 74, 26, 0.9);
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
  transition:0.3s;
  }
  
  .product-card:hover{
  transform:translateY(-10px);
  }
  
  .product-card img{
  width:100%;
  height:250px;
  object-fit:cover;
  }

  


